%header.main-header
  %div.main-header__inner
    %div.main-header__title
      %h2 Receiver
    %div.main-header__function
      %ul.login-register
        %li.header-mypage
          マイページ
        %li.header-logout
          ログアウト
        %li.header-login
          ログイン
        %li.header-signup
          新規会員登録

%div.main-container
  %h1.main-text 欲しい時に、受け取ろう

%div.middle-container
  %div.middle-container__textbox
    %h3 近くのReceiverを探す
