%header.main-header
  %div.main-header__inner
    %div.main-header__title
      %h2 Receiver
    %span.fa.fa-bars.menu-icon
    %div.main-header__function
      %ul.login-register
      - if user_signed_in?
        %li.header-mypage
          マイページ
        %li
          = link_to destroy_user_session_path, method: :delete,class: "header-logout" do
            ログアウト
      - else
        %li
          = link_to new_user_session_path, class: "header-login" do
            ログイン
        %li
          = link_to new_user_registration_path, class: "header-signup" do
            新規会員登録

%section.main-container
  %h1.main-text 欲しい時に、受け取ろう

%section.middle-container
  %div.middle-container__textbox
    %h3 近くのReceiverを探す

%section.description
  %div.description-container
    %div.description-container__imagebox
    %div.description-container__textbox
      %h1.description-container__textbox--title Receiverとは？
      %br
      %p 最近はインターネットが普及し、欲しいものがすぐに注文できる時代です。
      %p しかし、荷物の多くは土日に配達依頼が集中し、時間通りに届かなかったり、再配達になってしまうことがあります。
      %p 「誰か自分の代わりに受け取ってくれる人がいたらなぁ・・・」
      %p そんな想いを実現できるのが、このReceiverです。
      %p まずは自分の家の近くで登録されているReceiverを探します。
      %p あとは登録されれている人と、受け取り日時などのやり取りをして荷物を受け取って完了です。

%footer.main-footer
  %div.main-footer__inner
    %div.main-footer__inner--textbox
      %p 作成者 HOSOKAWA DAIKI
      %p mail : test@gmail.com
      %p TEL : 080-0000-0000
    %div.main-footer__inner--copyright
      %small © 2019 Receiver
