.search-result-container
  %div.search-result-container__inner
    %h1.search-result-container__title 検索結果#{@users.length}件
    - @users.each do |user|
      %div.search-result__user-box
        %h3.search-result__user-name
          = user.name
        %h3.search-result__user-address
          = user.address
        %div.search-result__request
          %div この人に依頼する
