.signin-container {
  background: #EEEEEE;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__main {
    width: 40%;
    height: 550px;
    position: relative;
  }
  &__title {
    text-align: center;
    background: #EEEEEE;
    font-size: 40px;
    color: #808080;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    height: 80px;
  }
  &__form {
    background: #EEEEEE;
    .form-group {
      height: 50px;
      margin-bottom: 10px;
      &__input {
        width: 100%;
        height: 100%;
      }
    }
    .submit-group {
      margin-top: 20px;
      &__btn {
        -webkit-appearance: none;
        width: 100%;
        padding: 15px;
        }
      }
    }
  .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    }
  }
