@media (max-width:960px ) {
  .main-container {
    height: 400px;
    .main-text{
      padding-top: 250px;
      font-size: 40px;
    }
  }
  .middle-container {
    &__searchbox {
      width: 70%;
    }
    &__textbox {
      width: 70%;
    }
  }
  .description {
    height: 720px;
    .description-container {
      position: static;
      padding-top: 20px;
        &__imagebox {
          width: 60%;
          float: none;
          margin: 0 auto;
        }
        &__textbox {
          width: 60%;
          float: none;
          padding-top: 20px;
          margin: 0 auto;
      }
    }
  }
}

@media (max-width:600px ) {
  .main-header {
    height: 60px;
    &__inner {
      padding-top: 7px;
      .menu-icon {
        display: block;
        float: right;
        font-size: 30px;
        padding-top: 10px;
        color: #808080;
      }
    }
    &__title {
      font-size: 40px;
    }
    &__function {
      display: none;
    }
  }
  .main-container {
    height: 250px;
    .main-text{
      padding-top: 150px;
      font-size: 30px;
    }
  }
  .middle-container {
    height: 100px;
  &__textbox {
    width: 50%;
    font-size: 18px;
    }
  &__searchbox {
    width: 50%;
    }
  }
  .description {
    .description-container {
      &__imagebox {
        background-size: cover;
        height: 200px;
        width: 300px;
      }
      &__textbox {
        width: 80%;
        p {
          font-size: 15px;
        }
        &--title {
          font-size: 24px;
        }
      }
    }
  }
  .main-footer {
    height: 150px;
    &__inner {
      height: 130px;
      &--textbox {
        width: 100%;
        text-align: center;
        position: static;
      }
    }
  }
}
